{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Status Monitor{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <header class="header">
            <h1>Status Monitor</h1>
            <nav class="navbar">
                <a href="/status">Status</a>
                
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main class="content-container">
        {% block content %}
        {% endblock %}
        </main>
    </body>
   
</html>

