{% extends "base.html" %}
{% block title %}Status Dashboard{% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Status Dashboard</h2>
    <a href="{% url 'site_create' %}" class="btn btn-primary">
        + Add Site
    </a>
    <a href="{% url 'site history' item.site.pk %}" class="btn btn-sm btn-secondary">History</a>
</div>

<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Last Checked</th>
            <th>Status Code</th>
            <th>Response Time (s)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in site_data %}
        <tr>
            <td>{{ item.site.name }}</td>
            <td><a href="{{ item.site.url }}" target="_blank">{{ item.site.url }}</a></td>
            <td>{{ item.latest_check.timestamp|default:"Never" }}</td>
            <td>{{ item.latest_check.status_code|default:"—" }}</td>
            <td>{{ item.latest_check.response_time|floatformat:2|default:"—" }}</td>
            <td>
                {% if item.latest_check and item.latest_check.is_up %}
                    <span class="text-success fw-bold">✅ Up</span>
                {% else %}
                    <span class="text-danger fw-bold">❌ Down</span>
                {% endif %}
            </td>
            <td>
                <form action="{% url 'site_delete' item.site.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                </form>
            <td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center text-muted">No monitored sites yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}