{% extends "base.html" %}
{% block title %}Status Dashboard{% endblock %}
{% block content %}

<h2>Dashboard</h2>

{# ADD THE 'ADD SITE' BUTTON HERE, Controlled by permission #}
{% if user.is_authenticated and user.userprofile.can_configure_sites %}
    <a href="{% url 'site_create' %}" class="btn btn-primary">+ Add Site</a>
{% endif %}
<br><br>

<table class="status-table">
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Status</th>
        <th>Response Time</th>
        {# ADD A HEADER FOR THE ACTIONS COLUMN #}
        <th>Actions</th> 
    </tr>
    {% for site in sites %}
    
    <tr class="{% if site.status == 'DOWN' %}row-down{% else %}row-up{% endif %}">
       <td>{{ site.name }}</td>
       <td><a href="{{ site.url }}" target="_blank"> {{ site.url }}</a></td>
       <td>
            <span id="status-dot-{{ site.id }}" class="status-dot {% if site.status == 'UP' %}green{% else %}red{% endif %}"></span>
            <span id="status-text-{{ site.id }}">{{ site.status }}</span>
        </td>

        <!--Live response time-->
        <td>
            <span id="respons-time-{{ site.id }}"> {{ site.respons_time }}</span> ms
        </td>


        
        {# ADD THE EDIT/DELETE LINKS HERE, Controlled by permission #}
        <td>
            {% if user.is_authenticated and user.userprofile.can_configure_sites %}
                <a href="{% url 'site_edit' site.pk %}">Edit</a> |
                <a href="{% url 'site_delete' site.pk %}">Delete</a>
            {% endif %}
        </td>
    </tr>
    <!--chartrows-->
    <tr>
        <td colspan="5">
            <canvas id="responseChart-{{ site.id }}" style="height: 200px;"></canvas>
        </td>
    </tr>
    {% endfor %}
</table>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


       
</script>

{% endblock %}