body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}
.header{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header h1{
    margin: 0;
    text-align: left;
}

.navbar{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.status-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    font-family: Arial, sans-serif;
}
.status-table th{
    text-align: left;
    color: gray;
    font-size: 15px;
}
.status-table td{
    background: white;
    padding: 15px 12px;
    border-radius: 6px;
    font-size: 15px;
}
.status-dot {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;

}
.chart{
    width: 100%;
    height: 150px;
}
.row-up{
    background: green;
}
.row-down{
    background: red;
}
.green{
    background-color:lightgreen !important;

}
.red{
    background-color:red !important;
    
}