body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}
.header{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header h1{
    margin: 0;
    text-align: left;
}

.navbar{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

tr .up {
    background-color: green ;
}
tr.down{
    background-color: red;
}